<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.codelens.alfred.idea</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3F988D7E-B331-4290-8832-EC9E8B8002C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CC9334F-91E7-4451-8015-486E6CB4CCA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88E16851-681E-49E2-B781-519212C6E271</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BABD34CC-9484-4CA9-ABDD-02CAA32132EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CC9334F-91E7-4451-8015-486E6CB4CCA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB2161E8-B624-4F40-820E-CF12FF9A2A04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB2161E8-B624-4F40-820E-CF12FF9A2A04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F60D432E-4FF7-4560-9453-F1432EDE3302</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEC2208D-5D30-4BED-B4B1-A4A271ABF7C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F988D7E-B331-4290-8832-EC9E8B8002C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F60D432E-4FF7-4560-9453-F1432EDE3302</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>CodeLens</string>
	<key>description</key>
	<string>IntelliJIDEA tools</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IntelliJIDEA</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

comma=$(echo "$query" | sed "s/\(.*\);$/()\ -&gt;\ \1,/g")
comma=$(echo "$comma" | sed "$ s/,$//")

echo "assertAll("
echo "	${comma}"
echo -n ");"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB2161E8-B624-4F40-820E-CF12FF9A2A04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>unit</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>IDEA unit test actions</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3F988D7E-B331-4290-8832-EC9E8B8002C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>unit all</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>IDEA JUnit surround with assertAll</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8CC9334F-91E7-4451-8015-486E6CB4CCA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F60D432E-4FF7-4560-9453-F1432EDE3302</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.jetbrains.intellij</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EEC2208D-5D30-4BED-B4B1-A4A271ABF7C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo "@Test"
echo "@DisplayName("test method")"
echo "public void test_method() {"
echo "	${query}"
echo "}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>88E16851-681E-49E2-B781-519212C6E271</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BABD34CC-9484-4CA9-ABDD-02CAA32132EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3F988D7E-B331-4290-8832-EC9E8B8002C2</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>88E16851-681E-49E2-B781-519212C6E271</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>8CC9334F-91E7-4451-8015-486E6CB4CCA9</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>BABD34CC-9484-4CA9-ABDD-02CAA32132EF</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>CB2161E8-B624-4F40-820E-CF12FF9A2A04</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>EEC2208D-5D30-4BED-B4B1-A4A271ABF7C4</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>F60D432E-4FF7-4560-9453-F1432EDE3302</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
